workflows/ACK New Task.json
{
  "active": true,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "ClickUp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp Trigger": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp1": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-11T02:32:10.193Z",
  "id": "gtnWhdKDFfmGq0g8",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ACK New Task",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "ae6adf98-3c14-4d95-b59d-f563d9fa68fa",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        460,
        680
      ],
      "webhookId": "6f33222a-f59d-4530-b61a-41a492395e94",
      "credentials": {
        "telegramApi": {
          "id": "yxrXM30i9JxeXnGf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "team": "3015277",
        "space": "90170925859",
        "folder": "90171812499",
        "list": "901703206163",
        "filters": {}
      },
      "id": "b3027b70-1ced-486a-8d25-6f1245aefeb9",
      "name": "ClickUp",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1060,
        680
      ],
      "credentials": {
        "clickUpApi": {
          "id": "lwFd2uhzsjT9hByN",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "items.sort((a, b) => new Date(b.json.created_time) - new Date(a.json.created_time));\nreturn [items[0]]; // Return only the first item, which is the most recent task\n"
      },
      "id": "c7320703-daff-41f3-819d-2aa59f7ed3d6",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        680
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.id }}",
        "updateFields": {
          "addAssignees": "3183451"
        }
      },
      "id": "714638be-c8c0-4f29-bf70-04378b7a2674",
      "name": "ClickUp1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1500,
        680
      ],
      "credentials": {
        "clickUpApi": {
          "id": "lwFd2uhzsjT9hByN",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U01U1MMKRDZ",
          "mode": "id"
        },
        "messageType": "block",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*New Clickup Incident Added ![{{ $json.task_id }}](https://app.clickup.com/t/{{ $json.task_id }})*\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"divider\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*Available actions*\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*Acknowledge alert* \\n\"\n\t\t\t},\n\t\t\t\"accessory\": {\n\t\t\t\t\"type\": \"button\",\n\t\t\t\t\"text\": {\n\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\"emoji\": true,\n\t\t\t\t\t\"text\": \"ACK\"\n\t\t\t\t},\n\t\t\t\t\"url\": \"{{$execution.resumeUrl}}\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"~\"\n\t\t\t},\n\t\t\t\"accessory\": {\n\t\t\t\t\"type\": \"button\",\n\t\t\t\t\"text\": {\n\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\"emoji\": true,\n\t\t\t\t\t\"text\": \"Choose\"\n\t\t\t\t},\n\t\t\t\t\"url\": \"{{$execution.resumeUrl}}\"\n\t\t\t}\n\t\t}\n\t]\n}",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "88309778-8dec-44b1-8c1d-4e96d34a55f9",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        660,
        920
      ],
      "credentials": {
        "slackApi": {
          "id": "kfxOr1rysZBrmnSb",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "d94c9af4-178c-4ca3-9bd4-b96ccb0c3028",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        920
      ],
      "webhookId": "a3cecb79-7831-4edc-8984-9a7120a9f835"
    },
    {
      "parameters": {
        "team": "3015277",
        "events": [
          "taskCreated"
        ],
        "filters": {
          "listId": "901703206163"
        }
      },
      "id": "e8620295-cd91-428e-a33a-876dcd0af69b",
      "name": "ClickUp Trigger",
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        460,
        920
      ],
      "webhookId": "c2bd3039-643b-4524-be72-28dba46ce5a8",
      "credentials": {
        "clickUpApi": {
          "id": "lwFd2uhzsjT9hByN",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {},
      "id": "4394cf81-3a3f-420c-b0f8-c3ad0a246181",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "chatId": "@jptelegramtesting",
        "text": "=Acknowledged task [{{ $json.id }}]",
        "additionalFields": {}
      },
      "id": "30c549f0-6731-4441-acf3-d076e57e9d24",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1720,
        680
      ],
      "credentials": {
        "telegramApi": {
          "id": "yxrXM30i9JxeXnGf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U01U1MMKRDZ",
          "mode": "id"
        },
        "text": "=Acknowledged task [{{ $json.id }}]",
        "otherOptions": {}
      },
      "id": "58191de6-9be0-4e1f-8b35-c13d427935a7",
      "name": "Slack1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1720,
        520
      ],
      "credentials": {
        "slackApi": {
          "id": "kfxOr1rysZBrmnSb",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:ClickUp Trigger": {
      "webhookId": "2334f448-3dca-4613-83ce-1b89985370ed",
      "secret": "55PZHLULVOK5ZR48XFJPC74RBR28HSW4QEJU8YQEYRBH2IHHOD3SVETCPL3KM1CD"
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2024-10-11T02:34:51.000Z",
  "versionId": "435b22fc-90df-45f4-9b53-1642f3ec0eb6"
}