workflows/ACK New Task.json
{
  "active": true,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "ClickUp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp Trigger": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp1": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-08T23:49:25.412Z",
  "id": "CZv0J2MWD09JJ8NC",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ACK New Task",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "bdcbccb7-e3ad-4c13-b862-136313097cd1",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        660,
        480
      ],
      "webhookId": "6f33222a-f59d-4530-b61a-41a492395e94",
      "credentials": {
        "telegramApi": {
          "id": "h5hNZAML1SIcpezN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "team": "3015277",
        "space": "90170925859",
        "folder": "90171812499",
        "list": "901703206163",
        "filters": {}
      },
      "id": "fc8b203c-8540-4e25-ad08-525262565b6c",
      "name": "ClickUp",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1260,
        480
      ],
      "credentials": {
        "clickUpApi": {
          "id": "JBEGLZWeRRUl0uCC",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "items.sort((a, b) => new Date(b.json.created_time) - new Date(a.json.created_time));\nreturn [items[0]]; // Return only the first item, which is the most recent task\n"
      },
      "id": "cdce8d6a-a849-43d9-a475-f834ec975188",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        480
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.id }}",
        "updateFields": {
          "addAssignees": "3183451"
        }
      },
      "id": "9f4895eb-77ac-4575-b8be-41d422381806",
      "name": "ClickUp1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1700,
        480
      ],
      "credentials": {
        "clickUpApi": {
          "id": "JBEGLZWeRRUl0uCC",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U01U1MMKRDZ",
          "mode": "id"
        },
        "messageType": "block",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*New Clickup Incident Added ![{{ $json.task_id }}](https://app.clickup.com/t/{{ $json.task_id }})*\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"divider\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*Available actions*\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*Acknowledge alert* \\n\"\n\t\t\t},\n\t\t\t\"accessory\": {\n\t\t\t\t\"type\": \"button\",\n\t\t\t\t\"text\": {\n\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\"emoji\": true,\n\t\t\t\t\t\"text\": \"ACK\"\n\t\t\t\t},\n\t\t\t\t\"url\": \"{{$execution.resumeUrl}}\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"~\"\n\t\t\t},\n\t\t\t\"accessory\": {\n\t\t\t\t\"type\": \"button\",\n\t\t\t\t\"text\": {\n\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\"emoji\": true,\n\t\t\t\t\t\"text\": \"Choose\"\n\t\t\t\t},\n\t\t\t\t\"url\": \"{{$execution.resumeUrl}}\"\n\t\t\t}\n\t\t}\n\t]\n}",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "7716a629-9ae5-4b19-9527-4a2572fcf8bd",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        860,
        720
      ],
      "credentials": {
        "slackApi": {
          "id": "mTBRwqEFMJQ7getj",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "84c9da60-cd82-4be9-abd3-1a45121ee573",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1080,
        720
      ],
      "webhookId": "a3cecb79-7831-4edc-8984-9a7120a9f835"
    },
    {
      "parameters": {
        "team": "3015277",
        "events": [
          "taskCreated"
        ],
        "filters": {
          "listId": "901703206163"
        }
      },
      "id": "113a1136-1664-491c-8619-2f2915162ab9",
      "name": "ClickUp Trigger",
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        660,
        720
      ],
      "webhookId": "c2bd3039-643b-4524-be72-28dba46ce5a8",
      "credentials": {
        "clickUpApi": {
          "id": "JBEGLZWeRRUl0uCC",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {},
      "id": "3de783a0-7ba2-4784-9b37-e498369404a8",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        660,
        260
      ]
    },
    {
      "parameters": {
        "chatId": "@jptelegramtesting",
        "text": "=Acknowledged task [{{ $json.id }}]",
        "additionalFields": {}
      },
      "id": "d1059b2b-e47d-49a9-98b1-73beb9b5edf9",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1920,
        480
      ],
      "credentials": {
        "telegramApi": {
          "id": "h5hNZAML1SIcpezN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U01U1MMKRDZ",
          "mode": "id"
        },
        "text": "=Acknowledged task [{{ $json.id }}]",
        "otherOptions": {}
      },
      "id": "74950107-7f0c-4a73-b7ab-09508a046fc0",
      "name": "Slack1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1920,
        320
      ],
      "credentials": {
        "slackApi": {
          "id": "mTBRwqEFMJQ7getj",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:ClickUp Trigger": {
      "webhookId": "33926636-9a76-415f-8336-378bf6a6faac",
      "secret": "QO7N8QGYSGZBECO0YGZ14K5SNHOM8AIOZWGRHKD6RJI5JFTWE312AF57T1VJLMVA"
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2024-10-08T23:49:56.000Z",
  "versionId": "7392a0e2-f0d6-4591-9078-7b32c9a9c50f"
}