workflows/Send Message on Task.json
{
  "active": true,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp Trigger": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2024-10-05T22:04:36.477Z",
  "id": "2EIRhSJN7PsADtzJ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Send Message on Task",
  "nodes": [
    {
      "parameters": {},
      "id": "204a6edb-733f-4f8a-a1f8-60ceec157ad6",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        840,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "@jptelegramtesting",
        "text": "= * _ New Alert _ * \\nClickup Task: {{ $json.task_id }}\\nUrl: https://app\\.clickup\\.com/t/{{ $json.task_id }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "ACK",
                    "additionalFields": {
                      "callback_data": "={{ $json.task_id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "bc90b226-f2cb-4dc3-8697-bbb724f75a63",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "pPr58JzaG3sZxvEr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "team": "3015277",
        "events": [
          "taskCreated"
        ],
        "filters": {
          "folderId": "90171812499",
          "listId": "901703206163",
          "spaceId": "90170925859"
        }
      },
      "id": "8528d11c-ed1a-4b3c-8ff9-f7788556571c",
      "name": "ClickUp Trigger",
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        840,
        240
      ],
      "webhookId": "f64a0ae5-ab4c-46c0-912c-375189d5efde",
      "credentials": {
        "clickUpApi": {
          "id": "96BZXwSFRnvNprNC",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=New incident reported: [{{ $json.task_id }}]",
        "options": {}
      },
      "id": "26f64d4c-947c-431c-97f6-0a4b7a5c2797",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1280,
        240
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "cbnKWBBFkvLSNfiF",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:ClickUp Trigger": {
      "webhookId": "9f7bb44a-0fc2-4515-9ba2-ba56f9971b4a",
      "secret": "MTETJ5U5FJMV0OBE60V0ESP29PBEFPY3LK4M7X4UG7FKW8X14H7AVJV54898XY8X"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-10-06T04:33:53.000Z",
  "versionId": "8c18c112-3b7c-4720-b9d9-ee5e3db40644"
}