workflows/Send Message on Task.json
{
  "active": true,
  "connections": {
    "ClickUp Trigger": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-11T02:35:20.299Z",
  "id": "f4RHv1hNQ67is7kC",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Send Message on Task",
  "nodes": [
    {
      "parameters": {
        "chatId": "@jptelegramtesting",
        "text": "= * _ New Alert _ * \\nClickup Task: {{ $json.task_id }}\\nUrl: https://app\\.clickup\\.com/t/{{ $json.task_id }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "ACK",
                    "additionalFields": {
                      "callback_data": "={{ $json.task_id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "aabeb5f0-1a23-4afe-8acc-ebcc744ae81d",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1060,
        480
      ],
      "credentials": {
        "telegramApi": {
          "id": "yxrXM30i9JxeXnGf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "team": "3015277",
        "events": [
          "taskCreated"
        ],
        "filters": {
          "folderId": "90171812499",
          "listId": "901703206163",
          "spaceId": "90170925859"
        }
      },
      "id": "56bb10f4-184e-4bf8-ad1d-9ea98596e9af",
      "name": "ClickUp Trigger",
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        580,
        520
      ],
      "webhookId": "f64a0ae5-ab4c-46c0-912c-375189d5efde",
      "credentials": {
        "clickUpApi": {
          "id": "lwFd2uhzsjT9hByN",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=New incident reported: [{{ $json.task_id }}]",
        "options": {}
      },
      "id": "fd5d9717-e08a-46c7-b780-c98176ebf34b",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1060,
        320
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "50d55f39-cc18-46ea-9f50-5b32c42c36a4",
        "options": {}
      },
      "id": "7e9b175b-9355-4e98-a744-859f65f9d6c3",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        580,
        340
      ],
      "webhookId": "50d55f39-cc18-46ea-9f50-5b32c42c36a4"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:ClickUp Trigger": {
      "webhookId": "f6e836fc-cef2-4815-8569-969c7f5521ba",
      "secret": "3W4MA93E74LNA8OFM78RT0Q5EE4FH9P37L8Y1TDRNWXPRZJ450Y0RY08R862N6JP"
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2024-10-12T00:55:27.000Z",
  "versionId": "e861795d-95dd-4dd4-ae9a-f7c553b3749c"
}