workflows/Sentry & Clickup & pushcall.json
{
  "active": true,
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clickup": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-11T23:17:36.575Z",
  "id": "lZcUkXZfgm3HgbHF",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Sentry & Clickup & pushcall",
  "nodes": [
    {
      "parameters": {},
      "id": "c73a0327-2805-4624-bf1a-35ba5330dc79",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        620,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "-1002376005549",
        "text": "=🚨 New Sentry Issue\n{{ $json.body.data.event.message }}\n\n*Log Level*: {{ $json.body.data.event.tags[8][1] }}\n*Env*: {{ $json.body.data.event.tags[7][1] }}\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "aa28d031-8943-4541-b4a6-a25ec5eb2313",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        980,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "yxrXM30i9JxeXnGf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "team": "3015277",
        "space": "90170925859",
        "folder": "90171812499",
        "list": "901703206163",
        "name": "={{ $json.body.data.event ? $json.body.data.event.message : $json.body.data.error.message }}",
        "additionalFields": {
          "customFieldsJson": "[\n\t\t{\n\t\t\t\"id\":    \"effc725a-0a9d-4ef9-b217-b013694fc135\", \n\t\t\t\"value\": \"8a0b35a8-bba1-4cf8-b7ea-7acaede87a74\"\n\t\t},\n\t\t{\n\t\t\t\"id\":    \"78d482bc-bb40-4b2c-bbdf-dc1342ace336\", \n\t\t\t\"value\": \"e0a3c5e7-aaac-4c5b-b296-bfcc9cb8ff42\"\n        }\n]",
          "dueDate": "={{ $now.plus(1, 'hour') }}",
          "tags": [
            "sentry"
          ]
        }
      },
      "id": "d4eaf25b-c8b6-4885-b8b7-fb11b1c689ba",
      "name": "ClickUp",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        980,
        320
      ],
      "credentials": {
        "clickUpApi": {
          "id": "lwFd2uhzsjT9hByN",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"oncall\": \"uri\"\n}\n",
        "options": {}
      },
      "id": "bcd3320b-0fb4-4766-ba79-18afa458720d",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pushcall.me/api/call?api_key=q3FuQLrwZaMU&from=1&to=59899021317",
        "options": {}
      },
      "id": "dcb0042c-983b-46e0-a393-dd5e972b8694",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f3e3342-7a77-446e-8913-f77ff2f9f5b6",
              "leftValue": "={{ $json.runRequest }}",
              "rightValue": 8,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9b34d1a6-c4c0-48c9-9b52-d2c395811f8f",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "const currentTime = new Date();\nconst hours = currentTime.getHours();\nconst minutes = currentTime.getMinutes();\n\nif (\n  (hours > 8 || (hours === 8 && minutes >= 30)) &&\n  (hours < 18 || (hours === 18 && minutes <= 30))\n) {\n  return [{ json: { runRequest: true } }];\n} else {\n  return [{ json: { runRequest: false } }];\n}\n"
      },
      "id": "54d11745-3ea9-4390-b553-60ea9183fd97",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        780
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "oncall",
                    "rightValue": "jp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "875bd582-8e76-4e24-866c-4f3ab225998a",
                    "leftValue": "oncall",
                    "rightValue": "jp",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "db57df61-3bcd-4de8-8458-9298f49b901f",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1480,
        760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pushcall.me/api/call?api_key=q3FuQLrwZaMU&from=1&to=59892771007",
        "options": {}
      },
      "id": "737cf500-ee16-42a8-ab55-b7f924f1786c",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        600
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2b1f381a-209a-444c-8bfb-15108c4a553f",
        "options": {}
      },
      "id": "bd33ad0b-b203-4825-bbca-6c681358c33b",
      "name": "Clickup",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        600,
        1040
      ],
      "webhookId": "2b1f381a-209a-444c-8bfb-15108c4a553f"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8cd58fe0-adac-4c63-b25b-eed89fcf5ad7",
        "options": {}
      },
      "id": "4695f0de-3706-4058-9595-d496d5e76f97",
      "name": "Sentry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        600,
        540
      ],
      "webhookId": "8cd58fe0-adac-4c63-b25b-eed89fcf5ad7"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2024-10-21T14:22:38.000Z",
  "versionId": "b286c643-1f46-45ea-bd97-fcbc7182701f"
}